.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap:50px;
    background-image: url(src/assets/background-login.jpg);
      background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
     background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #1d1c1c;
    font-weight: bold;
    font-style: oblique;

}

.inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(70, 68, 68, 0.493);
    color: white;
    border-style: none;
}

.btnCadastrar {
    width: 100%;
    padding: 12px;
    background-color: #ef5350; /* Vermelho Pokebola */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btnCadastrar:hover {
    background-color: #e53935;
}

.textoAlternar {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}

.link {
    color: #0011ff;
    cursor: pointer;
    font-weight: bold;
    font-size:15px
}

.link:hover {
    text-decoration: underline;
}

