.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btnCadastrar {
    width: 100%;
    padding: 12px;
    background-color: #ef5350; /* Vermelho Pokebola */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btnCadastrar:hover {
    background-color: #e53935;
}

.textoAlternar {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.link {
    color: #1e88e5;
    cursor: pointer;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.voltarButtonContainer {
    margin-bottom: 10px;
}
.voltarButton {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}