.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://media1.tenor.com/m/bpPyZC8s_k0AAAAd/iris-iris-pokemon.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.pokedexLogo{
    width: 600px;
}
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 500px;
    height: 550px;
     background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    
}