.background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background-image: url(src/assets/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.pokedexLogo{
    width: 500px;
    margin-bottom: -100px;
}
.loginContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 20px;
     background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    
}

.label{
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
     font-style: oblique;
     flex-direction: column;
      margin-top: 25px;
      margin-right: 300px;
}


.input{
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-top: -20px;
    background-color: rgba(70, 68, 68, 0.493);
    color: white;
}


