.cardStatusPokemonContainer {
  display: flex;
    flex-direction: row; 
   justify-content: center;  
    align-items: flex-start;
   gap: 30px;             
   width: 100%;
   margin-top: 50px;
    padding: 20px;
    flex-wrap: wrap;
}

.pokemonCard {
 display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 450px;
}

.typesStatus {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
    width: 400px; 
    height: 600px;
    background-color: rgb(220, 20, 60);
    border-radius: 20px;
    color: rgb(238, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.idPokemon {
    font-size: 18px;
    font-weight: bold;
}
.txtTypes {
    font-size: 40px;
    color: gold;
}

.types {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.typePoke {
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    display: flex;
    justify-content: row;
}

.stats {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}.statsTitulo{
    color: gold;
    font-size: 40px;
}
.typeName {
    text-transform: capitalize;
    font-weight: bolder;
}

.captureBttn{
  background: #ffd900fb;
  font-family: inherit;
  padding: 0.6em 1.3em;
  width: 150px;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 5em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}.captureBttn:hover{
    transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}.captureBttn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.captureBttnStatus{
  background: #ffd900fb;
  color: black;
  font-family: inherit;
  padding: 0.6em 1.3em;
  width: 150px;
  font-weight: 700;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 5em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}.captureBttnStatus:hover{
    transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}.captureBttnStatus:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}