
.cardStatusPokemonContainer{
    display: flex;
      display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}

.pokemonCard{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     height: 30rem;
     border-radius: 20px;
}

.idPokemon{
    font-size: 18px;
    font-weight: bold;
    margin-left: 300px;
}
.imgPokeContainer{
    
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40%;
     height: 35rem;
     border-radius: 30px;
}
.imagemPokemon{
    width: 200px;
   
    border-radius: 20px;
}
.namePokemon{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
   
    
}
.typesStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    border: 8px solid rgba(255, 255, 255, 0.034);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    margin-right: 200px;
}
.txtTypes{
    font-size: 40px;
}
.types{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
     
}
.typePoke{
    font-size: 30px;
    display:flex;
   justify-content: row;
}
.stats{
     font-size: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
     

}

.modelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 50%;
  
}

.formsContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.formsContainer button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: crimson;
}