.voltarButtonContainer {

    margin-top: 3px;
    margin-bottom: -30px;
    margin-right: 500px;
}
.voltarButton{
     padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: crimson;
}
