.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4px;
    
}
.searchinput {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border-style: none;
    border: none;
    padding-inline: 20px;
    cursor: pointer;
}


.searchinput:hover{
    transform: translateY(-3px);
}


.pokeButtonImg{
    width:30px;
    margin-top: 3px;
    cursor: pointer;
   
}


.pokeButtonImg:hover{
    transform: translateY(-2px);
}

.pokeButton{
     width: 40px;
    border-radius: 20px;
    margin-top: 1px;
    background-color:rgb(214, 119, 3) ;
    border: none;
}

