.layoutContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.mainContainer {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    background-image: url(src/assets/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: calc(100vh - 120px);
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.divOutlet {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 2rem;
    text-align: center;

}

