.layoutContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.makeagif.com/media/9-30-2024/PaySWa.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 25rem;
}
.navLogo {
    width: 400px;
    height: 150px;
    margin-bottom: 70px;  
}
.subNav {
    background-color: darkorange;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    width: 100%;
    height: 3rem;
}
.linkNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    
}
.linkNav {
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-top: 10px;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.searchinput {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    margin-top: 8px;
    border-style: none;
    border: none;
    padding-inline: 20px;
}
.pokeButtonImg{
    width:30px;
    margin-top: 3px;
   
}
.pokeButton{
     width: 40px;
    border-radius: 20px;
    margin-top: 1px;
}
.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.divOutlet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 207, 73, 0.733);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRySPKE3g8_Q_hLtM0LaYu9Ui6v-4fE-GI3_kO2f6wtMr8UxFrVAwQIj5O6&s=10);
    background-size: cover;
    background-repeat: no-repeat;

}